<div class="conteiner content">

  <div class="page-header">
    <div class="conteiner">
      <h1>Ruteo Simple</h1>
      <div class="navLinks">
        <a [routerLink]="['/home']">Home</a>
        <a [routerLink]="['/destino']">Destino</a>
      </div>
    </div>
  </div>

  <div class="row">
    <h2> 
      {{ title }} app is running!
    </h2>
  </div>
  <router-outlet></router-outlet>
</div>

<hr class="mb-5">

<!-- Rendereo diferido de html a traves de intervalos -->

Fecha: {{time | async}}

